{% extends 'base.html.twig' %}

{% block title %}Email de réinitialisation envoyé!{% endblock %}

{% block body %}
    <p>
        Si un compte correspondant à votre email existe, vous devriez reçevoir sous peu un lien de réinitialisation de mot de passe.
        Ce lien expirera dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
    </p>
    <p>Si vous ne reçevez rien, vérifiez votre dossier spam ou <a href="{{ path('app_forgot_password_request') }}">réessayez</a>.</p>
{% endblock %}
