{% extends 'base.html.twig' %}

{% block title %}Création de groupe
{% endblock %}

{% block body %}
	<style>
		.register {
			background: -webkit-linear-gradient(left, #3931af, #00c6ff);
			margin-top: 3%;
			padding: 3%;
			border-radius: 25px;
		}
		.register-left {
			text-align: center;
			color: #fff;
			margin-top: 4%;
		}
		.register-left input {
			border: none;
			border-radius: 1.5rem;
			padding: 2%;
			width: 60%;
			background: #f8f9fa;
			font-weight: bold;
			color: #383d41;
			margin-top: 30%;
			margin-bottom: 3%;
			cursor: pointer;
		}
		.register-right {
			background: #f8f9fa;
			border-top-left-radius: 10% 50%;
			border-bottom-left-radius: 10% 50%;
			border-top-right-radius: 10px;
			border-bottom-right-radius: 10px;
		}
		.register-left img {
			margin-top: 35%;
			width: 30%;
			-webkit-animation: mover 2s infinite alternate;
			animation: mover 1s infinite alternate;
		}
		@-webkit-keyframes mover {
			0% {
				transform: translateY(0);
			}
			100% {
				transform: translateY(-20px);
			}
		}
		@keyframes mover {
			0% {
				transform: translateY(0);
			}
			100% {
				transform: translateY(-20px);
			}
		}
		.register-left p {
			font-weight: lighter;
			padding: 12%;
			margin-top: -5%;
		}
		.register .register-form {
			padding: 10%;
			margin-top: 10%;
		}
		.btnRegister {
			float: right;
			margin-top: 10%;
			border: none;
			border-radius: 1.5rem;
			padding: 2%;
			background: #0062cc;
			color: #fff;
			font-weight: 600;
			width: 50%;
			cursor: pointer;
		}
		.register .nav-tabs {
			margin-top: 3%;
			border: none;
			background: #0062cc;
			border-radius: 1.5rem;
			width: 28%;
			float: right;
		}
		.register .nav-tabs .nav-link {
			padding: 2%;
			height: 34px;
			font-weight: 600;
			color: #fff;
			border-top-right-radius: 1.5rem;
			border-bottom-right-radius: 1.5rem;
		}
		.register .nav-tabs .nav-link:hover {
			border: none;
		}
		.register .nav-tabs .nav-link.active {
			width: 100px;
			color: #0062cc;
			border: 2px solid #0062cc;
			border-top-left-radius: 1.5rem;
			border-bottom-left-radius: 1.5rem;
		}
		.register-heading {
			text-align: center;
			margin-top: 8%;
			margin-bottom: -15%;
			color: #495057;
		}
	</style>

	{{ form_start(form) }}
	<div class="container register">
		<div class="row">
			<div class="col-md-3 register-left">
				<img src="https://peoplique.com/wp-content/uploads/33308-1.png" alt=""/>
			</div>
			<div class="col-md-9 register-right">
				<div class="tab-content" id="myTabContent">
					<div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
						<h3 class="register-heading">Inviter à créer un groupe</h3>
						<div class="row register-form">
							<div class="col-md-6">
								<div class="form-group">
									<p>Votre pseudonyme</p>
									<input disabled value="{{ app.user.nickname }}" class="form-control"><br/>
								</div><br>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<p>Quel membre souhaitez-vous inviter?</p>
									{{ form_widget(form.member_invited) }}
								</div>
								<input type="submit" class="btnRegister" value="Envoyer"/>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	{{ form_end(form) }}
{% endblock %}
